.container {
  background-color: #343434;
  padding: 0 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  height: var(--header-height);
  .logoTitle {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--white);
    margin-left: 0.5rem;
  }
  .logoIcon {
    width: 30px;
    height: 30px;
  }
}
