:root {
  // Colors
  --white: #ffffff;

  --link-color: #176093;

  --headline-color: #123;
  --headline-background-color: #e8ebef;
  --border-color: #d8dde4;

  --table-head-color: #333333;
  --muted-color: #9da2a8;

  // Sizes
  --header-height: 50px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}
